<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="medium">

  <ion-item color="dark">
    <ion-label>
      Operação
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item color="dark">
    <ion-label>
     Resultado:
    </ion-label>
  </ion-item>

<br>
<br>

  <!--m's-->
<ion-item class="ms" color="dark">
  <ion-grid class="colunm">
    <ion-row>
      <ion-col>
        <ion-button color="light">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          MR
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          M-
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          MS
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          M
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>


<!--primeira coluna-->
  <ion-grid class="colunaum">
    <ion-row>
      <ion-col>
        <ion-button color="light">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          √
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          x²
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          1/x
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--coluna dois-->
  <ion-grid class="colundois">
    <ion-row>
      <ion-col>
        <ion-button color="light">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          C
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" ><ion-icon name="backspace-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          ÷
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--coluna três-->
  <ion-grid class="coluntres">
    <ion-row>
      <ion-col>
        <ion-button color="light">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          8
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">9</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          x
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--coluna quatro-->
  <ion-grid class="colunq">
    <ion-row>
      <ion-col>
        <ion-button color="light">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          5
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">6</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          -
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--coluna cinco-->
  <ion-grid class="colunci">
    <ion-row>
      <ion-col>
        <ion-button color="light">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          2
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">3</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          +
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


<!--ultima coluna-->
  <ion-grid class="colunult">
    <ion-row>
      <ion-col>
        <ion-button color="light">±</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          0
      </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light">
          =
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ult">

  </ion-grid>


</ion-content>
